.container{
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 10%;
  margin-top: 2rem;
  height: 80%;
  flex-direction: column;
}

.container .title{
  font-size: 5rem;
}
.container .content{
 font-size: 1.5rem;
  padding: 1rem;
}
